<%- include('header'); -%>
<div class="title">
  <%= title %>
</div>
<div>
  <label for="ipAddress">My IP Address: </label>
  <input id="ipAddress" type="text" placeholder="Your IP Address should be here" style="width: 35%;" disabled>
</div>
<%- include('footer'); -%>
